---
import Image from 'astro/components/Image.astro';
import TonyPoint from '../assets/TonyPoint.png';
import TonyRock from '../assets/TonyRock.png';

import '../css/ViperGlobal.css';
import '../css/Utility.css';
import '../css/ViperUtility.css';

const {TopImageDivisor = 10, BottomImageDivisor = 4} = Astro.props;
--- 

<script type="module" src="/TonySpatola/Scripts/RaiseFadeInEffect.js"></script>

<section id="current-standing" class="vp-section">
    <div class="v-container container">
        <h2 id="section-title" class="v-title">Current Standings</h2>
        <div class="flex top-content">
            <div id="top-image-wrapper" class="image-wrapper">
                <Image class:list={"v-image-bottom-align border"} alt="posing photo" src={TonyPoint} width={TonyPoint.width / TopImageDivisor}/>
            </div>
            <div class="content-wrapper">
                <p class="v-text fade-raise-element">Nowadays I remain in my domain and live a simple yet humble life. Currently I help my family out with our house cleaning service. The experience gained from this keeps my spirits high and keeps me pushing forward.</p>
            </div>
        </div>
        <div class="flex flex-reverse bottom-content">
            <div id="bottom-image-wrapper" class="image-wrapper">
                <Image class:list={"v-image-bottom-align"} alt="posing photo" src={TonyRock} width={TonyRock.width / BottomImageDivisor}/>
            </div>
            <div class="content-wrapper">
                <p class="v-text fade-raise-element"> As I have slowly grown older, the "country life" has started to wear off. I'm not much of a political individual, but the city life is a perfect match for my modern and progress lifestyle and needs. Eventually I plan on expanding my horizons and rellocating to the big city to tackle opportunities that come my way. </p>
            </div>
        </div>
    </div>
</section>


<style>

@media(min-width: 0px){
    #current-standing{
        background: #F7F7F7;
    }

    .container{
        display: flex;
        flex-direction: column;
        gap: clamp(3.75rem, 7.75vw, 6.25rem);
    }

    h2{
        text-align: center;
    }

    /* Applied to both top and bottom content */
    .flex{
        display: flex;
        flex-direction: column;
        gap: clamp(3.75rem, 7.75vw, 6.25rem);
        align-items: flex-start;
    }

    /* Applied to both top and bottom content */
    .image-wrapper{
        position: relative;
        margin: auto;
        width: fit-content;
        height: 100%;
        z-index: 1;
    }

    #top-image-wrapper .border{
        border: 5px solid var(--highlight-color);
    }

    #top-image-wrapper::before{
        content: "";
        position: absolute;
        top: 25%;
        left: 32.5%;
        z-index: -1;
        width: auto;
        height: auto;
        box-shadow:
         -10px -10px 0px 50px #F7F7F7,
         -15px -15px 0px 50px orange,
         -20px -20px 0px 50px #F7F7F7,
         -25px -25px 0px 50px orange;
    }

    #top-image-wrapper::after{
        content: "";
        position: absolute;
        top: 76%;
        left: 67%;
        z-index: -1;
        width: auto;
        height: auto;
        box-shadow:
         10px 10px 0px 50px #F7F7F7,
         15px 15px 0px 50px orange,
         20px 20px 0px 50px #F7F7F7,
         25px 25px 0px 50px orange;
    }

    /* Applied to both top and bottom content */
    .content-wrapper{
        z-index: 1;
    }

    #bottom-image-wrapper::before{
        content: "";
        position: absolute;
        top: 40%;
        left: 30%;
        z-index: -1;
        width: auto;
        height: auto;
        box-shadow:
         -10px -10px 0px 50px #F7F7F7,
         -15px -15px 0px 50px orange,
         -20px -20px 0px 50px #F7F7F7,
         -25px -25px 0px 50px orange;
    }

    #bottom-image-wrapper::after{
        content: "";
        position: absolute;
        top: 86%;
        left: 70%;
        z-index: -1;
        width: auto;
        height: auto;
        box-shadow:
         10px 10px 0px 50px #F7F7F7,
         15px 15px 0px 50px orange,
         20px 20px 0px 50px #F7F7F7,
         25px 25px 0px 50px orange;
    }

}

@media(min-width: 768px){
    .flex{
        flex-direction: row;
    }

    .flex-reverse{
        flex-direction: row-reverse;
    }

    .top-content,
    .bottom-content{
        margin-left: 3rem;
        margin-right: 3rem;
    }

}

</style>