---
import { getImage } from "astro:assets";
import DeskHeroBG from "../assets/TonyHomeHeroDesk.png";
import MobHeroBG from "../assets/TonyHomeHeroMob.png";
import "../css/Global.css";
import "../css/Utility.css";

const mobileImg = await getImage({
	src: MobHeroBG,
	format: "webp",
	width: MobHeroBG.width / 2,
});

const deskImg = await getImage({
	src: DeskHeroBG,
	format: "webp",
	width: DeskHeroBG.width / 2
})
---

<script type="module" src="/TonySpatola/Scripts/FadeInEffect.js"></script>

<section id="home-hero-section">
		<div class="hero-wrapper">
			<div class="container">
				<div class="heading-text">
					<span class="body-text-L intro-text">My name is</span>
		 			<h1 class="hero-heading-M">Tony<br/>Spatola</h1>
				</div>
                <div class="traversal-text-container">
		 		    <span class="hero-heading-L traversal-text fade-in-element"><strong>This is my story</strong></span>
                </div>
			</div>
		 	<div class="bg-image-wrapper">
				<picture>
					<source media="(max-width: 1100px)" srcset={mobileImg.src}/>
					<source media="(min-width: 1101px)" srcset={deskImg.src}/>
					<img src={mobileImg.src} alt="background image"/>
				</picture>
		 	</div>
		</div>
</section>

<style>
    .bg-image-wrapper {
		position: absolute;
		width: 100%;
		height: 155.5vh;
	}

	.bg-image-wrapper picture img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
		opacity: 50%;
		user-select: none;
		-webkit-user-drag: none;
        mask-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 1) 0% 80%,
			rgba(255, 255, 255, 0.8) 90%,
			rgba(255, 255, 255, 0) 100%
            );
		
	}

	.container{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 1;
		padding-top: 15rem;
		padding-bottom: 1rem;
		padding-left: 5%;
        padding-right: 5%;
	}

	.intro-text {
		color: var(--accent-color);
		text-transform: capitalize;
        font-weight: 900;
        opacity: 80%;
	}

    .traversal-text-container{
        display: flex;
        width: 100%;
        height: fit-content;
        justify-content: center;
    }

	.traversal-text {	
		color: var(--highlight-color);
		text-transform: uppercase;
	}

	h1, .intro-text{
		animation-name: LoadTextDesk;
		animation-duration: 1s;
	}
	
	#home-hero-section {
		position: relative;
		height: 155.5vh;
	}

	h1 {
		color: white;
		text-transform: uppercase;
		opacity: 80%;
    }

    @media(max-width: 850px)
    {
        .container{
            padding-top: 10rem;
        }

        .intro-text{
            color: black;
        }

        .traversal-text-container{
            text-align: center;
        }

        h1, .intro-text{
			opacity: 100%;
            animation-name: LoadTextMob;
			animation-duration: 1s;
			animation-direction: normal;
			animation-iteration-count: 1;
        }
    }

	@keyframes LoadTextDesk{
		from {
			translate: 0 5px;
			opacity: 0%;
		}
		to {
			translate: 0 0;
			opacity: 80%;
		}
	}

	@keyframes LoadTextMob{
		from {
			translate: 0 5px;
			opacity: 0%;
		}
		to {
			translate: 0 0;
			opacity: 100%;
		}
	}
</style>