---
const {backgroundColor, headingColor} = Astro.props;
import { getImage } from 'astro:assets';
import '../css/Global.css';

import TonyRock from '../assets/TonyRock.png';


const mobileImg = await getImage({
	src: TonyRock,
	format: "webp",
	width: TonyRock.width / 2,
});

const deskImg = await getImage({
	src: TonyRock,
	format: "webp",
	width: TonyRock.width / 2
})
---

<script type="module" src="/TonySpatola/Scripts/FadeInEffect.js"></script>

<section>
    <h2 class="heading-L">Early life</h2>
    <h3 class="heading-S">"The beginning"</h3>
    <div class="content-container">
	    <slot/>
        <picture class="fade-in-element">
            <source media="max-width(850px)" srcset={mobileImg.src}>
            <source media="min-width(851px)">
            <img alt="childhood photo" src={mobileImg.src}/>
        </picture>
    </div>
<section>

<style define:vars={{backgroundColor, headingColor}}>
    /*Mobile*/
    @media (min-width: 0px){
        section{
            height: 60vh;
            width: 100%;
            background: var(--backgroundColor);
            padding-top: 5rem;
        }

        h2, h3{
            text-align: center;
            color: var(--headingColor);
            text-transform: capitalize;
        }

        h3{
            margin-bottom: 1rem;
        }
    }
<style>