.fade-in-element{
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in-element.appear{
    opacity: 1;
}

.fade-raise-element{
    opacity: 0;
    translate: 0 10px;
    transition: opacity 250ms ease-in, translate 250ms ease-in;
}

.fade-raise-element.appear{
    opacity: 1;
    translate: 0 0;
}

.paralax-container{
	animation: scroll-watcher linear;
	animation-timeline: view();
}