---
import NavBar from "../components/NavBar.astro";
import '../css/ViperGlobal.css';

const currentPath = Astro.url.pathname;
const {title, description, offset=false} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<!-- MOVE TO PROPER FILE -->
		<!-- ADD "frame-ancestors 'self';" AND "upgrade-insecure-requests" to CSP -->
		<!-- <meta http-equiv="Strict-Transport-Security" content="max-age=63072000; includeSubDomains; preload"/> --->
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'sha256-84rk0bDIHDf/R66UrX/SgqfQhoaM4xhSZ1fWNbs8f1I=' 'sha256-WN0hqek1jEauhlhWVVXeQPa5BD3f0rsMdmwSZtw1Cys='; style-src 'self' 'unsafe-inline'; font-src 'self'; media-src 'self';"/>
		
		<meta http-equiv="Cross-Origin-Opener-Policy" content="same-origin"/>
		<meta http-equiv="Cross-Origin-Embedder-Policy" content="require-corp"/>
		<meta http-equiv="Cross-Origin-Resource-Policy" content="same-origin"/>
		<!-- MOVE TO PROPER FILE -->

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description}/>
	</head>
	<body>
		<header>
			<div class="nav-bar-area">
				<NavBar/>
			</div>
		</header>
		<main>
			<slot/>
		</main>
		<footer class={offset ? "offset" : ""}>
			<ul>
				<li><a href="/TonySpatola/" class="v-subheading-text">My Story</a></li>
				<li><a href="/TonySpatola/Interests" class="v-subheading-text">Interests</a></li>
				<li><a href="/TonySpatola/Family" class="v-subheading-text">La Familia</a></li>
				<li><a href="/TonySpatola/Gallery" class="v-subheading-text">Gallery</a></li>
			</ul>
			<div class="cc-container">
				<span class="v-subheading-text">&copy; 2025 Tony Spatola. Developed by Vincent Pierce. All rights reserved.</span>
			</div>
		</footer>
	</body>
</html>

<style>
	.nav-bar-area{
		position: fixed;
		width: 100%;
		height: fit-content;
		z-index: 999;
		top: 0;
	}

	.offset{
		margin-top: clamp(-8rem, -5vw, 3rem);
	}

	ul{
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 2rem;
		list-style: none;
	}

	a{
		text-decoration: none;
		color: white;
	}

	.cc-container{
		width: 100%;
		text-align: center;
		margin-top: 5px;
	}

	span{
		color: #F7F7F7;
	}

</style>