---
import PageLayout from "../layouts/PageLayout.astro";
import Hero from "../components/HomeHero.astro";
import BasicSection from "../components/EarlyLifeSection.astro";
import CurrentStandingSection from "../components/CurrentStandingSection.astro";
import HomeGallery from "../components/HomeGallery.astro";
import '../css/ViperGlobal.css';
import FullImage from '../components/SelectedImage';
---

<script type="module" src="/TonySpatola/Scripts/ImageToggle.js"></script>

<PageLayout title="My Story" description="Everything that defines me!" offset={true}>
	<Hero/>
	<BasicSection backgroundColor={`#851828`} headingColor={`var(--secondary-color)`}/>	
		<div class="paralax-container">
			<CurrentStandingSection/>
			<HomeGallery/>
		</div>
		<FullImage client:load/>
</PageLayout>

<style>
	/*Mobile*/
    @media (min-width: 0px){
      .paralax-container{
		animation: scroll-watcher view();
		z-index: 3;
		box-shadow: 0px 5px 25px 10px rgba(0, 0, 0, .25);
	  }

	  .spacer{
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 500%;
		z-index: 0;
	  }

	  .cta-container{
		margin-top: -10rem;
	  }

	  h3{
		text-align: center;
	  }
    }

	@media (min-width: 850px){
		
	}
	/* Mobile */

	/* desktop */
	@media (min-width: 1601px){
		
	}

	@keyframes scroll-watcher{
		to {translate: 0 -300px;}
	}
</style>
