---
import PageLayout from "../layouts/PageLayout.astro";
import Hero from "../components/HomeHero.astro";
---

<PageLayout title="My Story" description="Everything that defines me!">
	<Hero/>
	<div>

	</div>
</PageLayout>

<style>
	div{
		height: 30rem;
		width: 100%;
		background: white;
	}
</style>
