---
import PageLayout from "../layouts/PageLayout.astro";
---


<PageLayout title="My Story" description="Everything that defines me!">
	<p>THIS IS JUST SOME TEXT TO GET THE PAGE TO SCROLL Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam molestiae, dolores aspernatur eum corrupti quidem maxime est, consequatur delectus magnam optio. Sunt molestiae possimus asperiores, obcaecati commodi numquam ab ipsum?</p>
</PageLayout>


<style>
	p{
		font-size: 5rem;
	}
</style>


