---
import PageLayout from "../layouts/PageLayout.astro";
---


<PageLayout title="My Story" description="Everything that defines me!">
	<p>THIS IS JUST SOME TEXT TO GET THE PAGE TO SCROLL Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam molestiae, dolores aspernatur eum corrupti quidem maxime est, consequatur delectus magnam optio. Sunt molestiae possimus asperiores, obcaecati commodi numquam ab ipsum? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex facere fugiat quo perferendis temporibus tempora officiis vitae quos est? Excepturi cupiditate necessitatibus facere quos dicta quasi accusantium laudantium, odit consequuntur! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora id necessitatibus temporibus, vero sunt minus architecto veniam dignissimos accusamus tenetur illum, nesciunt, ea quam est hic delectus obcaecati ipsa harum?</p>
</PageLayout>


<style>
	p{
		font-size: 5rem;
		line-break: anywhere;
	}
</style>


